<div class="row">
  <div class="col-md-12">
<!-- Begin Dentacoin panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" style="font-size: 2em">
          <a href="https://dentacoin.com" target="_blank">Dentacoin</a>
        </h2>
      </div>
      <div class="panel-body">
<!-- Begin Cryptopia panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 2em">
              <a href="https://www.cryptopia.co.nz" target="_blank">Cryptopia</a>
            </h3>
          </div>
          <div class="panel-body">

<!-- BTC -->
            <div class="row col-md-12 col-xs-12" style="font-size: 1.2em; padding-bottom: 15px; border-bottom: 1px solid grey">
              <a class="anchor" name="Dentacoin-Cryptopia-BTC"></a>
              <h3>
                <a href="https://www.cryptopia.co.nz/Exchange/?market=DCN_BTC" target="_blank">BTC</a>
                <a id="C_DCN_BTC_details_button" class="btn show-mobile" data-toggle="tooltip" data-placement="right" title="Show details!">
                  <span style="font-size: 1.4em" class="glyphicon glyphicon-arrow-down"></span>
                </a>
              </h3> 
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Dentacoins
                  </div>
                  <div>
                    DCN <span id="DCN"><%=DCN%></span>
                  </div>
                </div>
                <div class="C_DCN_BTC_details hide-mobile">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Dentacoin value in BTC
                    </div>     
                    <div>
                      BTC <%=C_DCN_BTC_LastPrice.toFixed(8)%>
                    </div>     
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      BTC value in Euro
                    </div>
                    <div>
                      EUR <span id="BTC_EUR"><%=CC_BTC_EUR%></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-xs-12 C_DCN_BTC_details hide-mobile">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total dentacoin in BTC
                  </div>        
                  <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    BTC <%=(C_DCN_BTC_LastPrice*DCN).toFixed(3)%>
                  </div>  
                </div>
                <div class="col-md-8 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in Euro
                  </div>
                   <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    EUR <%=(CC_BTC_EUR*(C_DCN_BTC_LastPrice*DCN)).toFixed(2)%>
                  </div>
                </div>
              </div>
              <div class="col-xs-12"></div>

              <div class="row">
                <div id="Dentacoin_C_BTC_Calc" class="hide">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      <button class="btn btn-primary Dentacoin_C_BTC_Button_Calc"><span class="glyphicon glyphicon-remove"></span></button>
                      Calculate Dentacoin value
                    </div>        
                    <div class="form-group" style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      <input id="Calculate_C_DCN_BTC" class="form-control" type="Number" placeholder="Fill in Dentacoin value in BTC" />
                    </div>  
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Calculated Dentacoin in Euro
                    </div>
                     <div style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      EUR <span id="Calculated_C_DCN_BTC"></span>
                    </div>
                  </div>
                </div>
                <div class="Dentacoin_C_BTC_Button_Calc main col-md-4 col-xs-6">
                  <button class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Calculate</button>
                </div>
              </div>
              
<!-- Chart DCN BTC -->
              <a class="anchor" name="DCN-BTC-chart"></a>              
              <div class="row col-md-12" style="font-size: 1.2em">
                <h3><a href="https://www.cryptopia.co.nz/Exchange?market=DCN_BTC" target="_blank"><i class="fa fa-line-chart" aria-hidden="true"></i> DCN/BTC</a></h3>
                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <canvas id="DCN_BTC_CHART" width="400" height="400"></canvas>
                  </div>
                </div>
              </div>
            </div>

<!-- LTC -->
            <div class="row col-md-12 col-xs-12" style="font-size: 1.2em; padding-bottom: 15px; border-bottom: 1px solid grey">
              <a class="anchor" name="Dentacoin-Cryptopia-LTC"></a>
              <h3>
                <a href="https://www.cryptopia.co.nz/Exchange/?market=DCN_LTC" target="_blank">LTC</a>
                <a id="C_DCN_LTC_details_button" class="btn show-mobile" data-toggle="tooltip" data-placement="right" title="Show details!">
                  <span style="font-size: 1.4em" class="glyphicon glyphicon-arrow-down"></span>
                </a>
              </h3>
              <div>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Dentacoins
                  </div>
                  <div>
                    DCN <%=DCN%>
                  </div>
                </div>            
                <div class="C_DCN_LTC_details hide-mobile">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Dentacoin value in LTC
                    </div>     
                    <div>
                      LTC <%=C_DCN_LTC_LastPrice.toFixed(8)%>
                    </div>     
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      LTC value in Euro
                    </div>
                    <div>
                      EUR <span id="LTC_EUR"><%=CC_LTC_EUR%></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-xs-12 C_DCN_LTC_details hide-mobile">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total dentacoin in LTC
                  </div>        
                  <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    LTC <%=(C_DCN_LTC_LastPrice*DCN).toFixed(3)%>
                  </div>  
                </div>
                <div class="col-md-8 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in Euro
                  </div>
                   <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    EUR <%=(CC_LTC_EUR*(C_DCN_LTC_LastPrice*DCN)).toFixed(2)%>
                  </div>
                </div>
              </div>
              <div class="col-xs-12"></div>

              <div class="row">
                <div id="Dentacoin_C_LTC_Calc" class="hide">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      <button class="btn btn-primary Dentacoin_C_LTC_Button_Calc"><span class="glyphicon glyphicon-remove"></span></button>
                      Calculate Dentacoin value
                    </div>        
                    <div class="form-group" style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      <input id="Calculate_C_DCN_LTC" class="form-control" type="Number" placeholder="Fill in Dentacoin value in LTC" />
                    </div>  
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Calculated Dentacoin in Euro
                    </div>
                     <div style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      EUR <span id="Calculated_C_DCN_LTC"></span>
                    </div>
                  </div>
                </div>

                <div class="Dentacoin_C_LTC_Button_Calc main col-md-4 col-xs-6">
                  <button class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Calculate</button>
                </div>
              </div>
<!-- Chart DCN LTC -->
              <a class="anchor" name="DCN-LTC-chart"></a>              
              <div id= class="row col-md-12" style="font-size: 1.2em">
                <h3><a href="https://www.cryptopia.co.nz/Exchange?market=DCN_LTC" target="_blank"><i class="fa fa-line-chart" aria-hidden="true"></i> DCN/LTC</a></h3>
                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <canvas id="DCN_LTC_CHART" width="400" height="400"></canvas>
                  </div>
                </div>
              </div>
            </div>

<!-- DOGE -->
            <div class="row col-md-12 col-xs-12" style="font-size: 1.2em">
            <a class="anchor" name="Dentacoin-Cryptopia-DOGE"></a>
              <h3>
                <a href="https://www.cryptopia.co.nz/Exchange/?market=DCN_DOGE" target="_blank">DOGE</a>
                <a id="C_DCN_DOGE_details_button" class="btn show-mobile" data-toggle="tooltip" data-placement="right" title="Show details!">
                  <span style="font-size: 1.4em" class="glyphicon glyphicon-arrow-down"></span>
                </a>
              </h3>
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Dentacoins
                  </div>
                  <div>
                    DCN <%=DCN%>
                  </div>
                </div>
                <div class="C_DCN_DOGE_details hide-mobile">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Dentacoin value in DOGE
                    </div>     
                    <div>
                      DOGE <%=C_DCN_DOGE_LastPrice.toFixed(8)%>
                    </div>     
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      DOGE value in Euro
                    </div>
                    <div>
                      EUR <span id="DOGE_EUR"><%=CC_DOGE_EUR%></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-xs-12 C_DCN_DOGE_details hide-mobile">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total dentacoin in DOGE
                  </div>        
                  <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    DOGE <%=(C_DCN_DOGE_LastPrice*DCN).toFixed(3)%>
                  </div>  
                </div>
                <div class="col-md-8 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in Euro
                  </div>
                   <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    EUR <%=(CC_DOGE_EUR*(C_DCN_DOGE_LastPrice*DCN)).toFixed(2)%>
                  </div>
                </div>
              </div>
              <div class="col-xs-12"></div>

              <div class="row">
                <div id="Dentacoin_C_DOGE_Calc" class="hide">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      <button class="btn btn-primary Dentacoin_C_DOGE_Button_Calc"><span class="glyphicon glyphicon-remove"></span></button>
                      Calculate Dentacoin value
                    </div>        
                    <div class="form-group" style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      <input id="Calculate_C_DCN_DOGE" class="form-control" type="Number" placeholder="Fill in Dentacoin value in DOGE" />
                    </div>  
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Calculated Dentacoin in Euro
                    </div>
                     <div style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      EUR <span id="Calculated_C_DCN_DOGE"></span>
                    </div>
                  </div>
                </div>
                <div class="Dentacoin_C_DOGE_Button_Calc main col-md-4 col-xs-6">
                  <button class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Calculate</button>
                </div>
              </div>
<!-- Chart DCN DOGE -->
              <a class="anchor" name="DCN-DOGE-chart"></a>              
              <div class="row col-md-12" style="font-size: 1.2em">
                <h3><a href="https://www.cryptopia.co.nz/Exchange?market=DCN_DOGE" target="_blank"><i class="fa fa-line-chart" aria-hidden="true"></i> DCN/DOGE</a></h3>
                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <canvas id="DCN_DOGE_CHART" width="400" height="400"></canvas>
                  </div>
                </div>
              </div>
            </div> 
          </div>   
        </div>
<!-- End Cryptopia panel -->  

<!-- Begin Coin Market Cap panel -->     
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 2em">
              <a href="https://coinmarketcap.com" target="_blank">Coin Market Cap</a>
            </h3>
          </div>    
          <div class="panel-body">
<!-- BTC -->
            <div class="row col-md-12 col-xs-12" style="font-size: 1.2em">
            <a class="anchor" name="Dentacoin-CoinMarketCap-BTC"></a>
              <h3>
                <a href="https://www.cryptopia.co.nz/Exchange/?market=DCN_BTC" target="_blank">BTC</a>
                <a id="CMC_DCN_BTC_details_button" class="btn show-mobile" data-toggle="tooltip" data-placement="right" title="Show details!">
                  <span style="font-size: 1.4em" class="glyphicon glyphicon-arrow-down"></span>
                </a>
              </h3> 
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Dentacoins
                  </div>
                  <div>
                    DCN <span id="DCN"><%=DCN%></span>
                  </div>
                </div>
                <div class="CMC_DCN_BTC_details hide-mobile">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Dentacoin value in BTC
                    </div>     
                    <div>
                      BTC <%=CMC_DCN_BTC_LastPrice%>
                    </div>     
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      BTC value in Euro
                    </div>
                    <div>
                      EUR <span id="BTC_EUR"><%=CC_BTC_EUR%></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-xs-12 CMC_DCN_BTC_details hide-mobile">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total dentacoin in BTC
                  </div>        
                  <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    BTC <%=(CMC_DCN_BTC_LastPrice*DCN).toFixed(3)%>
                  </div>  
                </div>
                <div class="col-md-8 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in Euro
                  </div>
                   <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    EUR <%=(CC_BTC_EUR*(CMC_DCN_BTC_LastPrice*DCN)).toFixed(2)%>
                  </div>
                </div>
              </div>
              <div class="col-xs-12"></div>

              <div class="row">
                <div id="Dentacoin_CMC_BTC_Calc" class="hide">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      <button class="btn btn-primary Dentacoin_CMC_BTC_Button_Calc"><span class="glyphicon glyphicon-remove"></span></button>
                      Calculate Dentacoin value
                    </div>        
                    <div class="form-group" style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      <input id="Calculate_CMC_DCN_BTC" class="form-control" type="Number" placeholder="Fill in Dentacoin value in BTC" />
                    </div>  
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Calculated Dentacoin in Euro
                    </div>
                     <div style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      EUR <span id="Calculated_CMC_DCN_BTC"></span>
                    </div>
                  </div>
                </div>
                <div class="Dentacoin_CMC_BTC_Button_Calc main col-md-4 col-xs-6">
                  <button class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Calculate</button>
                </div>
              </div>
            </div>
          </div>   
        </div>  
<!-- End Dentacoin panel -->
      </div>
    </div>
  </div>
</div>

<script>
  moment().format();
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip();   

// Cryptopia
// BTC
  $("#C_DCN_BTC_details_button").click(function(){
    $(".C_DCN_BTC_details").toggleClass("hide-mobile");
    $("#C_DCN_BTC_details_button span").toggleClass('glyphicon-arrow-down').toggleClass('glyphicon-arrow-up');
  })

  $(".Dentacoin_C_BTC_Button_Calc").click(function(){
    $("#Dentacoin_C_BTC_Calc").toggleClass("hide");
    $(".Dentacoin_C_BTC_Button_Calc.main").toggleClass("hide");
  })

  $("#Calculate_C_DCN_BTC").on("input", function() {
    var Calculated_C_DCN_BTC = Number($("#BTC_EUR").html())*($("#Calculate_C_DCN_BTC").val() * Number($("#DCN").html()));
    $("#Calculated_C_DCN_BTC").html(Calculated_C_DCN_BTC.toFixed(2));
  });

// LTC
  $("#C_DCN_LTC_details_button").click(function(){
    $(".C_DCN_LTC_details").toggleClass("hide-mobile");
    $("#C_DCN_LTC_details_button span").toggleClass('glyphicon-arrow-down').toggleClass('glyphicon-arrow-up');
  })

  $(".Dentacoin_C_LTC_Button_Calc").click(function(){
    $("#Dentacoin_C_LTC_Calc").toggleClass("hide");
    $(".Dentacoin_C_LTC_Button_Calc.main").toggleClass("hide");
  })

  $("#Calculate_C_DCN_LTC").on("input", function() {
    var Calculated_C_DCN_LTC = Number($("#LTC_EUR").html())*($("#Calculate_C_DCN_LTC").val() * Number($("#DCN").html()));
    $("#Calculated_C_DCN_LTC").html(Calculated_C_DCN_LTC.toFixed(2));
  });
// DOGE
  $("#C_DCN_DOGE_details_button").click(function(){
    $(".C_DCN_DOGE_details").toggleClass("hide-mobile");
    $("#C_DCN_DOGE_details_button span").toggleClass('glyphicon-arrow-down').toggleClass('glyphicon-arrow-up');
  })

  $(".Dentacoin_C_DOGE_Button_Calc").click(function(){
    $("#Dentacoin_C_DOGE_Calc").toggleClass("hide");
    $(".Dentacoin_C_DOGE_Button_Calc.main").toggleClass("hide");
  })

  $("#Calculate_C_DCN_DOGE").on("input", function() {
    var Calculated_C_DCN_DOGE = Number($("#DOGE_EUR").html())*($("#Calculate_C_DCN_DOGE").val() * Number($("#DCN").html()));
    $("#Calculated_C_DCN_DOGE").html(Calculated_C_DCN_DOGE.toFixed(2));
  });
  
// Coin Market Cap
// BTC
  $("#CMC_DCN_BTC_details_button").click(function(){
    $(".CMC_DCN_BTC_details").toggleClass("hide-mobile");
    $("#CMC_DCN_BTC_details_button span").toggleClass('glyphicon-arrow-down').toggleClass('glyphicon-arrow-up');
  })

  $(".Dentacoin_CMC_BTC_Button_Calc").click(function(){
    $("#Dentacoin_CMC_BTC_Calc").toggleClass("hide");
    $(".Dentacoin_CMC_BTC_Button_Calc.main").toggleClass("hide");
  })

  $("#Calculate_CMC_DCN_BTC").on("input", function() {
    var Calculated_CMC_DCN_BTC = Number($("#BTC_EUR").html())*($("#Calculate_CMC_DCN_BTC").val() * Number($("#DCN").html()));
    $("#Calculated_CMC_DCN_BTC").html(Calculated_CMC_DCN_BTC.toFixed(2));
  });  
});

// DCN_BTC
  var DCN_BTC_Historical_Data_date = [];
  var DCN_BTC_Historical_Data_price = [];

<%for (var i = C_DCN_BTC_CHART.length - 1; i >= 0; i-= 5) {
  %>
    DCN_BTC_Historical_Data_date.push(moment(<%=C_DCN_BTC_CHART[i].Timestamp*1000%>).format("YYYY-MM-DD HH:mm"));      
    DCN_BTC_Historical_Data_price.push(<%=(CC_BTC_EUR*(C_DCN_BTC_CHART[i].Price*DCN)).toFixed(2)%>);
  <%
}
%>

  /*console.log("BTC");
  console.log(DCN_BTC_Historical_Data_date);
  console.log(DCN_BTC_Historical_Data_price);*/

  var ctx = document.getElementById("DCN_BTC_CHART").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: { 
        labels: DCN_BTC_Historical_Data_date,        
          datasets: [{
              label: 'Price',
              data: DCN_BTC_Historical_Data_price.reverse(),
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: 
      {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Price in Euro (All DCN)'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Date'
            },
            type: 'time',
            time: {
               unit: 'hour'
            }
          }]
        }
      }
  });

// DCN_LTC
  var DCN_LTC_Historical_Data_date = [];
  var DCN_LTC_Historical_Data_price = [];

  <%for (var i = 0; i < C_DCN_LTC_CHART.length; i++) {
    %> 
      DCN_LTC_Historical_Data_date.push(moment(<%=C_DCN_LTC_CHART[i].Timestamp*1000%>).format("YYYY-MM-DD HH:mm"));      
      DCN_LTC_Historical_Data_price.push(<%=(CC_LTC_EUR*(C_DCN_LTC_CHART[i].Price*DCN)).toFixed(2)%>);
    <%
  }
  %>

  /*console.log("LTC");
  console.log(DCN_LTC_Historical_Data_date);
  console.log(DCN_LTC_Historical_Data_price);*/

  var ctx = document.getElementById("DCN_LTC_CHART").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: { 
        labels: DCN_LTC_Historical_Data_date,        
          datasets: [{
              label: 'Price',
              data: DCN_LTC_Historical_Data_price,
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: 
      {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Price in Euro (All DCN)'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Date'
            },
            type: 'time',
            time: {
               unit: 'hour'
            }
          }]
        }
      }
  });

// DCN_DOGE
  var DCN_DOGE_Historical_Data_date = [];
  var DCN_DOGE_Historical_Data_price = [];

  <%for (var i = 0; i < C_DCN_DOGE_CHART.length; i++) {
    %> 
      DCN_DOGE_Historical_Data_date.push(moment(<%=C_DCN_DOGE_CHART[i].Timestamp*1000%>).format("YYYY-MM-DD HH:mm"));      
      DCN_DOGE_Historical_Data_price.push(<%=(CC_DOGE_EUR*(C_DCN_DOGE_CHART[i].Price*DCN)).toFixed(2)%>);
    <%
  }
  %>

  /*console.log("DOGE");
  console.log(DCN_DOGE_Historical_Data_date);
  console.log(DCN_DOGE_Historical_Data_price);*/

  var ctx = document.getElementById("DCN_DOGE_CHART").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: { 
        labels: DCN_DOGE_Historical_Data_date,        
          datasets: [{
              label: 'Price',
              data: DCN_DOGE_Historical_Data_price,
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: 
      {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Price in Euro (All DCN)'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Date'
            },
            type: 'time',
            time: {
               unit: 'hour'
            }
          }]
        }
      }
  });
</script>