<div class="row">
  <div class="col-md-12">               
<!-- Etherscan -->
    <a class="anchor" name="Etherscan-wallet"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" style="font-size: 2em">Ethereum Mining Rig</h2>
      </div>
      <div class="panel-body">

        <h2 style="color: green"><%=(ES_ETH_WALLET + NP_BALANCE).toFixed(8)%> ETH - <%=((ES_ETH_WALLET + NP_BALANCE)*CC_ETH_EUR).toFixed(2)%> EUR</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="font-size: 2em"><a href="http://etherscan.io" target="_blank">Etherscan Wallet</a></h2>
          </div>
          <div class="panel-body">
            <div class="row col-md-12" style="font-size: 1.2em">
              <h3><a href="https://etherscan.io/address/0xea4686c4bd1023d0c888079600c594efd524b7aa" target="_blank">Ethereum</a></h3>
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    ETH Balance
                  </div>
                  <div style="color: green; font-size: 1.5em">
                    ETH <%=(ES_ETH_WALLET).toFixed(8)%>
                  </div>
                </div>
                <div class="col-md-8 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    ETH in Euro
                  </div>     
                  <div style="color: green; font-size: 1.5em">
                    EUR <%=(ES_ETH_WALLET*CC_ETH_EUR).toFixed(2)%>
                  </div>     
                </div>            
              </div>
            </div>
          </div>
        </div>
<!-- Nanopool -->
        <a class="anchor" name="Nanopool-info"></a>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="font-size: 2em"><a href="https://eth.nanopool.org/" target="_blank">Nanopool</a></h2>
          </div>
          <div class="panel-body">
            <div class="row col-md-12" style="font-size: 1.2em">
              <h3><a href="https://eth.nanopool.org/account/0xea4686c4bd1023d0c888079600c594efd524b7aa" target="_blank">Ethereum</a></h3>
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    ETH Balance
                  </div>
                  <div style="color: green; font-size: 1.5em">
                    ETH <%=(NP_BALANCE).toFixed(8)%>
                  </div>
                </div>
                <div class="col-md-8 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    ETH in Euro
                  </div>     
                  <div style="color: green; font-size: 1.5em">
                    EUR <%=(NP_BALANCE*CC_ETH_EUR).toFixed(2)%>
                  </div>     
                </div>            
              </div>                
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Current Calculated Hashrate
                  </div>
                  <div style="color: green; font-size: 1.5em">
                    <%=NP_CURRENT_HASHRATE%> MH/s
                  </div>
                </div> 

                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Reported Hashrate
                  </div>
                  <div style="color: green; font-size: 1.5em">
                    <%=NP_REPORTED_HASHRATE%> MH/s
                  </div>
                </div> 
                
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Average Hashrate Last 6 Hours
                  </div>     
                  <div style="color: green; font-size: 1.5em">
                    <%=(NP_AVG_HASHRATE).toFixed(2)%> MH/s
                  </div>     
                </div>              
              </div>
            </div>
          </div>
        </div>
<!-- Chart Ethereum Poloniex -->
        <a class="anchor" name="Poloniex-chart"></a>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="font-size: 2em"><a href="https://poloniex.com/" target="_blank">Poloniex Chart</a></h2>
          </div>
          <div class="panel-body">
            <div class="row col-md-12" style="font-size: 1.2em">
              <h3><a href="https://poloniex.com/exchange#btc_eth" target="_blank">Ethereum</a></h3>
              <div class="row">
                <div class="col-md-12 col-xs-12" style="padding-left:50px" >
                  <canvas id="myChart" width="400" height="400"></canvas>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var ETH_Historical_Data = [];
  var ETH_Historical_Data_date = [];
  var ETH_Historical_Data_open = [];
  var ETH_Historical_Data_close = [];
  var ETH_Historical_Data_high = [];
  var ETH_Historical_Data_low = [];

  <%for (var i = 0; i < ETH_Historical_Data.length; i++) {
    %> 
      ETH_Historical_Data_date.push(new Date(<%=ETH_Historical_Data[i].date%>*1000).toLocaleDateString());      
      ETH_Historical_Data_open.push(<%=(ETH_Historical_Data[i].open*CC_BTC_EUR).toFixed(2)%>);
      ETH_Historical_Data_close.push(<%=(ETH_Historical_Data[i].close*CC_BTC_EUR).toFixed(2)%>);
      ETH_Historical_Data_high.push(<%=(ETH_Historical_Data[i].high*CC_BTC_EUR).toFixed(2)%>);
      ETH_Historical_Data_low.push(<%=(ETH_Historical_Data[i].low*CC_BTC_EUR).toFixed(2)%>);
    <%
  }
  %>

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: { 
        labels: ETH_Historical_Data_date,        
          datasets: [{
              label: 'Open Price',
              data: ETH_Historical_Data_open,
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
              ],
              borderWidth: 1
          },
          {
              label: 'High Price',
              data: ETH_Historical_Data_high,
              backgroundColor: [
                'rgba(255, 206, 86, 0.2)',
              ],
              borderColor: [
                'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 1
          },
          {
              label: 'Close Price',
              hidden: true,
              data: ETH_Historical_Data_close,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(255,99,132,1)',
              ],
              borderWidth: 1
          },
          {
              label: 'Low Price',
              hidden: true,
              data: ETH_Historical_Data_low,
              backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: 
      {
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Price in Euro'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Date'
            }
          }]
        }
      }
  });
</script>
    