<div class="row">
  <div class="col-md-12">
<!-- Begin Verge panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" style="font-size: 2em">
          <a href="https://vergecurrency.com/langs/nl/" target="_blank">Verge</a>
        </h2>
      </div>
      <div class="panel-body">
<!-- Begin Coin Market Cap panel -->     
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 2em">
              <a class="anchor" name="Verge-CoinMarketCap-BTC"></a>
              <a href="https://coinmarketcap.com" target="_blank">Coin Market Cap</a>
            </h3>
          </div>    
          <div class="panel-body">
<!-- BTC -->
            <div class="row col-md-12 col-xs-12" style="font-size: 1.2em">
              <h3>
                <a href="https://coinmarketcap.com/currencies/verge/" target="_blank">XVG</a>
                <a id="CMC_XVG_BTC_details_button" class="btn show-mobile" data-toggle="tooltip" data-placement="right" title="Show details!">
                  <span style="font-size: 1.4em" class="glyphicon glyphicon-arrow-down"></span>
                </a>
              </h3> 
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Verge
                  </div>
                  <div>
                    XVG <span id="XVG"><%=XVG%></span>
                  </div>
                </div>
                <div class="CMC_XVG_BTC_details hide-mobile">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Verge value in BTC
                    </div>     
                    <div>
                      BTC <%=CMC_XVG_BTC_LastPrice%>
                    </div>     
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      BTC value in Euro
                    </div>
                    <div>
                      EUR <span id="BTC_EUR"><%=CC_BTC_EUR%></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-xs-12 CMC_XVG_BTC_details hide-mobile">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Verge in BTC
                  </div>        
                  <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    BTC <%=(CMC_XVG_BTC_LastPrice*XVG).toFixed(3)%>
                  </div>  
                </div>
                <div class="col-md-8 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Verge value in Euro
                  </div>
                   <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    EUR <%=(CC_BTC_EUR*(CMC_XVG_BTC_LastPrice*XVG)).toFixed(2)%>
                  </div>
                </div>
              </div>
              <div class="col-xs-12"></div>

              <div class="row">
                <div id="Verge_CMC_BTC_Calc" class="hide">
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      <button class="btn btn-primary Verge_CMC_BTC_Button_Calc"><span class="glyphicon glyphicon-remove"></span></button>
                      Calculate Verge value
                    </div>        
                    <div class="form-group" style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      <input id="Calculate_CMC_XVG_BTC" class="form-control" type="Number" placeholder="Fill in Verge value in BTC" />
                    </div>  
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                      Calculated Verge in Euro
                    </div>
                     <div style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                      EUR <span id="Calculated_CMC_XVG_BTC"></span>
                    </div>
                  </div>
                </div>
                <div class="Verge_CMC_BTC_Button_Calc main col-md-4 col-xs-6">
                  <button class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Calculate</button>
                </div>
              </div>
            </div>
          </div>   
<!-- END Coin Market Cap panel -->     
        </div>  
<!-- End Verge panel -->
      </div>
    </div>
  </div>
</div>

<script>
  moment().format();
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip();   
 
// Coin Market Cap
// BTC
  $("#CMC_XVG_BTC_details_button").click(function(){
    $(".CMC_XVG_BTC_details").toggleClass("hide-mobile");
    $("#CMC_XVG_BTC_details_button span").toggleClass('glyphicon-arrow-down').toggleClass('glyphicon-arrow-up');
  })

  $(".Verge_CMC_BTC_Button_Calc").click(function(){
    $("#Verge_CMC_BTC_Calc").toggleClass("hide");
    $(".Verge_CMC_BTC_Button_Calc.main").toggleClass("hide");
  })

  $("#Calculate_CMC_XVG_BTC").on("input", function() {
    var Calculated_CMC_XVG_BTC = Number($("#BTC_EUR").html())*($("#Calculate_CMC_XVG_BTC").val() * Number($("#XVG").html()));
    $("#Calculated_CMC_XVG_BTC").html(Calculated_CMC_XVG_BTC.toFixed(2));
  });  
});
</script>