<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<!-- Const -->
  <a class="anchor" name="Home"></a>
  <%
    var CC_BTC_EUR = Number((CC_BTC["EUR"]).toFixed(4));
    var CC_ETH_EUR = Number((CC_ETH["EUR"]/CC_ETH["ETH"]).toFixed(4));
    var CC_LTC_EUR = Number((CC_LTC["EUR"]/CC_LTC["LTC"]).toFixed(4));
    var CC_DOGE_EUR = Number((CC_DOGE["EUR"]/CC_DOGE["DOGE"]).toFixed(6));
    var C_DCN_BTC_LastPrice = Number((C_DCN_BTC.LastPrice).toFixed(8));
    var C_DCN_LTC_LastPrice = Number((C_DCN_LTC.LastPrice).toFixed(8));
    var C_DCN_DOGE_LastPrice = Number((C_DCN_DOGE.LastPrice).toFixed(8));

    var CMC_NDC_BTC_LastPrice = Number(CMC_NDC_BTC.price_btc).toFixed(8);
    var CMC_NDC_BTC_USD = Number(CMC_NDC_BTC.price_usd).toFixed(4);

    var CMC_DCN_BTC_LastPrice = Number(CMC_DCN_BTC.price_btc).toFixed(8);
    var CMC_DCN_BTC_USD = Number(CMC_DCN_BTC.price_usd).toFixed(4);
  %>  

    <div class="jumbotron text-center" style="padding-top:50px; padding-bottom: 35px;">
      <div class="custom_container">
        <div style="font-size: 8em">
          <span class="glyphicon glyphicon-btc"></span>
        </div>
        <h1>Crypto Currency</h1>
      </div>
    </div>

  <!-- Navigation -->    
  <% include ../partials/nav.ejs %> 

  <div class="custom_container">  
    <!-- Coin Names -->
    <% include coins/coin_names.ejs %>

    <!-- Coin Prices -->
    <a class="anchor" name="coin_prices"></a>        
    <% include coins/coin_prices.ejs %>

    <!-- Etherscan Wallet -->
    <a class="anchor" name="Ethereum"></a>        
    <% include coins/ethereum.ejs %>

    <!-- Chart 
    <div id="curve_chart" style="width: 900px; height: 500px"></div> -->    

    <!-- Dentacoin -->
    <a class="anchor" name="Dentacoin"></a>
    <% include coins/dentacoin.ejs %>

    <!-- Neverdie -->
    <a class="anchor" name="Neverdie"></a>
    <% include coins/neverdiecoin.ejs %>

    <div class="alert alert-info text-center" role="alert">
      <h2> &copy; Cedric Willems</h2>
    </div>

    <script>
    var ETH_Historical_Data = [];
    var ETH_Historical_Data_date = [];
    var ETH_Historical_Data_open = [];
    var ETH_Historical_Data_close = [];
    var ETH_Historical_Data_high = [];
    var ETH_Historical_Data_low = [];

    <%for (var i = 0; i < ETH_Historical_Data.length; i++) {
      %> 
        ETH_Historical_Data_date.push(new Date(<%=ETH_Historical_Data[i].date%>*1000).toLocaleDateString());      
        ETH_Historical_Data_open.push(<%=(ETH_Historical_Data[i].open*CC_BTC_EUR).toFixed(2)%>);
        ETH_Historical_Data_close.push(<%=(ETH_Historical_Data[i].close*CC_BTC_EUR).toFixed(2)%>);
        ETH_Historical_Data_high.push(<%=(ETH_Historical_Data[i].high*CC_BTC_EUR).toFixed(2)%>);
        ETH_Historical_Data_low.push(<%=(ETH_Historical_Data[i].low*CC_BTC_EUR).toFixed(2)%>);
      <%
    }
    %>

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: { 
          labels: ETH_Historical_Data_date,        
            datasets: [{
                label: 'Open Price',
                data: ETH_Historical_Data_open,
                backgroundColor: [
                  'rgba(54, 162, 235, 0.2)',
                ],
                borderColor: [
                  'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            },
            {
                label: 'Close Price',
                data: ETH_Historical_Data_close,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                  'rgba(255,99,132,1)',
                ],
                borderWidth: 1
            },
            {
                label: 'High Price',
                hidden: true,
                data: ETH_Historical_Data_high,
                backgroundColor: [
                  'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: [
                  'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1
            },
            {
                label: 'Low Price',
                hidden: true,
                data: ETH_Historical_Data_low,
                backgroundColor: [
                  'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                  'rgba(75, 192, 192, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: 
        {
          maintainAspectRatio: false,
        }
    });
    </script>

    <script type="text/javascript">
      /*
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      var ETH_Historical_Data_Titels = ['Date', 'Open', 'Close'];
      var ETH_Historical_Data = [];

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ETH_Historical_Data_Titels, 
          <%for (var i = 0; i < ETH_Historical_Data.length; i++) {
            %> 
              [new Date(<%=ETH_Historical_Data[i].date%>*1000).toLocaleDateString(), <%=ETH_Historical_Data[i].open%>, <%=ETH_Historical_Data[i].close%>],         
            <%
          }
          %>
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
      */
    </script>
  </body>
</html>
