<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<!-- Const -->
  <a class="anchor" name="Home"></a>
  <%
    var CC_BTC_EUR = Number((CC_BTC["EUR"]).toFixed(4));
    var CC_ETH_EUR = Number((CC_ETH["EUR"]/CC_ETH["ETH"]).toFixed(4));
    var CC_LTC_EUR = Number((CC_LTC["EUR"]/CC_LTC["LTC"]).toFixed(4));
    var CC_DOGE_EUR = Number((CC_DOGE["EUR"]/CC_DOGE["DOGE"]).toFixed(6));

// Neverdie
  // Coin Market Cap
    var CMC_NDC_BTC_LastPrice = Number(CMC_NDC_BTC.price_btc).toFixed(8);
    var CMC_NDC_BTC_USD = Number(CMC_NDC_BTC.price_usd).toFixed(4);

// Dentacoin
  // Cryptopia
    var C_DCN_BTC_LastPrice = Number((C_DCN_BTC.LastPrice).toFixed(8));
    var C_DCN_LTC_LastPrice = Number((C_DCN_LTC.LastPrice).toFixed(8));
    var C_DCN_DOGE_LastPrice = Number((C_DCN_DOGE.LastPrice).toFixed(8));

  // Coin Market Cap
    var CMC_DCN_BTC_LastPrice = Number(CMC_DCN_BTC.price_btc).toFixed(8);
    var CMC_DCN_BTC_USD = Number(CMC_DCN_BTC.price_usd).toFixed(4);

// Verge
  // Cryptopia
    var C_XVG_BTC_LastPrice = Number((C_XVG_BTC.LastPrice).toFixed(8));
    var C_XVG_LTC_LastPrice = Number((C_XVG_LTC.LastPrice).toFixed(8));
    var C_XVG_DOGE_LastPrice = Number((C_XVG_DOGE.LastPrice).toFixed(8));

  // Coin Market Cap
    var CMC_XVG_BTC_LastPrice = Number(CMC_XVG_BTC.price_btc).toFixed(8);
    var CMC_XVG_BTC_USD = Number(CMC_XVG_BTC.price_usd).toFixed(4);

    // Hacker Gold
    var CMC_HKG_BTC_LastPrice = Number(CMC_HKG_BTC.price_btc).toFixed(8);
    var CMC_HKG_BTC_USD = Number(CMC_HKG_BTC.price_usd).toFixed(4);
  %>  

    <div class="jumbotron text-center" style="padding-top:50px; padding-bottom: 35px;">
      <div class="custom_container">
        <div style="font-size: 8em">
          <span class="glyphicon glyphicon-btc"></span>
        </div>
        <h1>Crypto Currency</h1>
      </div>
    </div>

  <!-- Navigation -->    
  <% include ../partials/nav.ejs %> 

  <div class="custom_container">  
    <!-- Coin Names -->
    <% include coins/coin_names.ejs %>

    <!-- Coin Prices -->
    <a class="anchor" name="coin_prices"></a>        
    <% include coins/coin_prices.ejs %>

<div class="row">
  <div class="col-md-12">               
<!-- Etherscan -->
    <a class="anchor" name="Etherscan-wallet"></a>
    <div class="center">
      <h2 style="font-size: 2em">
          Ethereum Mining Rig
          <br/>
          <small><%=(ES_ETH_WALLET + NP_BALANCE).toFixed(8)%> ETH - <%=((ES_ETH_WALLET + NP_BALANCE)*CC_ETH_EUR).toFixed(2)%> EUR</small>
      </h2>
    </div>

    <h2 style="color: green"></h2>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" style="font-size: 2em"><a href="http://etherscan.io" target="_blank">Etherscan Wallet</a></h2>
      </div>
      <div class="panel-body">
        <div class="row col-md-12" style="font-size: 1.2em">
          <h3><a href="https://etherscan.io/address/0xea4686c4bd1023d0c888079600c594efd524b7aa" target="_blank">Ethereum</a></h3>
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                ETH Balance
              </div>
              <div style="color: green; font-size: 1.5em">
                ETH <%=(ES_ETH_WALLET).toFixed(8)%>
              </div>
            </div>
            <div class="col-md-8 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                ETH in Euro
              </div>     
              <div style="color: green; font-size: 1.5em">
                EUR <%=(ES_ETH_WALLET*CC_ETH_EUR).toFixed(2)%>
              </div>     
            </div>            
          </div>
        </div>
      </div>
    </div>
<!-- Nanopool -->
    <a class="anchor" name="Nanopool-info"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" style="font-size: 2em"><a href="https://eth.nanopool.org/" target="_blank">Nanopool</a></h2>
      </div>
      <div class="panel-body">
        <div class="row col-md-12" style="font-size: 1.2em">
          <h3><a href="https://eth.nanopool.org/account/0xea4686c4bd1023d0c888079600c594efd524b7aa" target="_blank">Ethereum</a></h3>
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                ETH Balance
              </div>
              <div style="color: green; font-size: 1.5em">
                ETH <%=(NP_BALANCE).toFixed(8)%>
              </div>
            </div>
            <div class="col-md-8 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                ETH in Euro
              </div>     
              <div style="color: green; font-size: 1.5em">
                EUR <%=(NP_BALANCE*CC_ETH_EUR).toFixed(2)%>
              </div>     
            </div>            
          </div>                
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                Current Calculated Hashrate
              </div>
              <div style="color: green; font-size: 1.5em">
                <%=NP_CURRENT_HASHRATE%> MH/s
              </div>
            </div> 

            <div class="col-md-4 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                Reported Hashrate
              </div>
              <div style="color: green; font-size: 1.5em">
                <%=NP_REPORTED_HASHRATE%> MH/s
              </div>
            </div> 
            
            <div class="col-md-4 col-xs-12">
              <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                Average Hashrate Last 6 Hours
              </div>     
              <div style="color: green; font-size: 1.5em">
                <%=(NP_AVG_HASHRATE).toFixed(2)%> MH/s
              </div>     
            </div>              
          </div>
        </div>
      </div>
    </div>
<!-- Chart Ethereum Poloniex -->
    <a class="anchor" name="Poloniex-chart"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" style="font-size: 2em"><a href="https://poloniex.com/" target="_blank">Poloniex Chart</a></h2>
      </div>
      <div class="panel-body">
        <div class="row col-md-12" style="font-size: 1.2em">
          <h3><a href="https://poloniex.com/exchange#btc_eth" target="_blank"><i class="fa fa-line-chart" aria-hidden="true"></i> Ethereum</a></h3>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <canvas id="myChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  var ETH_Historical_Data_date = [];
  var ETH_Historical_Data_open = [];
  var ETH_Historical_Data_close = [];
  var ETH_Historical_Data_high = [];
  var ETH_Historical_Data_low = [];

  <%for (var i = 0; i < ETH_Historical_Data.length; i++) {
    %> 
      ETH_Historical_Data_date.push(moment(<%=ETH_Historical_Data[i].date%>*1000).format("YYYY-MM-DD HH:mm"));      
      ETH_Historical_Data_open.push(<%=(ETH_Historical_Data[i].open*CC_BTC_EUR).toFixed(2)%>);
      ETH_Historical_Data_close.push(<%=(ETH_Historical_Data[i].close*CC_BTC_EUR).toFixed(2)%>);
      ETH_Historical_Data_high.push(<%=(ETH_Historical_Data[i].high*CC_BTC_EUR).toFixed(2)%>);
      ETH_Historical_Data_low.push(<%=(ETH_Historical_Data[i].low*CC_BTC_EUR).toFixed(2)%>);
    <%
  }
  %>

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: { 
        labels: ETH_Historical_Data_date,        
          datasets: [{
              label: 'Open Price',
              data: ETH_Historical_Data_open,
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
              ],
              borderWidth: 1
          },
          {
              label: 'High Price',
              data: ETH_Historical_Data_high,
              backgroundColor: [
                'rgba(255, 206, 86, 0.2)',
              ],
              borderColor: [
                'rgba(255, 206, 86, 1)',
              ],
              borderWidth: 1
          },
          {
              label: 'Close Price',
              hidden: true,
              data: ETH_Historical_Data_close,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(255,99,132,1)',
              ],
              borderWidth: 1
          },
          {
              label: 'Low Price',
              hidden: true,
              data: ETH_Historical_Data_low,
              backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: 
      {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Price in Euro'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Date'
            },
            type: 'time',
            time: {
              unit: 'day'
            }
          }]
        }
      }
  });
});
</script>
    

    <!-- Chart 
    <div id="curve_chart" style="width: 900px; height: 500px"></div> -->    

    <!-- Dentacoin -->
    <a class="anchor" name="Dentacoin"></a>
    <% include coins/dentacoin.ejs %>

    <!-- Neverdie -->
    <a class="anchor" name="Neverdie"></a>
    <% include coins/neverdiecoin.ejs %>

    <!-- Verge -->
    <a class="anchor" name="Verge"></a>
    <% include coins/verge.ejs %>

    <!-- Hacker Gold -->
    <a class="anchor" name="Hackergold"></a>
    <% include coins/hackergold.ejs %>

    <!-- Total -->
    <a class="anchor" name="Total"></a>
    <% include coins/total.ejs %>

    <div class="alert alert-info text-center" role="alert">
      <h2> &copy; Cedric Willems</h2>
    </div>

<script>
$(document).ready(function() { 
  moment().format();
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>

  </body>
</html>
