<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<%
  var BTC_EUR = Number((BTC["EUR"]).toFixed(4));
  var ETH_EUR = Number((ETH["EUR"]/ETH["ETH"]).toFixed(4));
  var LTC_EUR = Number((LTC["EUR"]/LTC["LTC"]).toFixed(4));
  var DOGE_EUR = Number((DOGE["EUR"]/DOGE["DOGE"]).toFixed(6));
  var DCN_BTC_LastPrice = Number((DCN_BTC.LastPrice).toFixed(8));
  var DCN_LTC_LastPrice = Number((DCN_LTC.LastPrice).toFixed(8));
  var DCN_DOGE_LastPrice = Number((DCN_DOGE.LastPrice).toFixed(8));
%>

<div class="jumbotron text-center">
  <div class="container">
    <div style="font-size: 8em">
      <span class="glyphicon glyphicon-btc"></span>
    </div>
    <h1>Crypto Currency</h1>
  </div>
</div>
<div class="custom_container">  
  <div class="alert alert-info text-center" role="alert">
      
      <div class="row">
        <div class="font- col-md-12">
          <h2>  
              <a href="https://www.cryptocompare.com/coins/btc/overview/EUR" target="_blank">BTC: € <%=BTC_EUR%></a>
          </h2>
        </div>
      </div>

      <div class="row">
        <div>
          <div class="col-md-4">
            <h3>  
              <a href="https://www.cryptocompare.com/coins/eth/overview/EUR" target="_blank">ETH: € <%=ETH_EUR%></a>
            </h3>
          </div>
        </div>

        <div>
          <div class="col-md-4">          
            <h3>
              <a href="https://www.cryptocompare.com/coins/ltc/overview/EUR" target="_blank">LTC: € <%=LTC_EUR%></a>
            </h3>  
          </div>
        </div>
    <a name="Etherscan-wallet"></a>

        <div>
          <div class="col-md-4">
            <h3>
              <a href="https://www.cryptocompare.com/coins/doge/overview/EUR" target="_blank">DOGE: € <%=DOGE_EUR%></a>
            </h3>   
          </div>
        </div>
      </div>
    </div>

    <row class="row">
      <div class="col-md-12">                

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="font-size: 2em">Etherscan Wallet</h2>
          </div>
          <div class="panel-body">

            <row class="col-md-12" style="font-size: 1.2em">
              <h3><a href="https://etherscan.io/address/0xea4686c4bd1023d0c888079600c594efd524b7aa" target="_blank">Ethereum</a></h3>
              <row>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    ETH Balance
                  </div>
                  <div>
                    ETH <%=ETH_WALLET%>
                  </div>
                </div>
                <div class="col-md-8 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    ETH in Euro
                  </div>     
                  <div>
                    EUR <%=(ETH_WALLET*ETH_EUR).toFixed(2)%>
                  </div>     
                </div>            
              </row>
            </row>
          </div>
        </div>
      </div>
    </row>

    <a name="Dentacoin"></a>
    <row class="row">
      <div class="col-md-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="font-size: 2em">Dentacoin</h2>
          </div>
          <div class="panel-body">

            <row class="col-md-12" style="font-size: 1.2em">
              <h3><a href="https://www.cryptopia.co.nz/Exchange/?market=DCN_BTC" target="_blank">BTC</a></h3>
              <row>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Dentacoins
                  </div>
                  <div>
                    DCN <span id="DCN"><%=DCN%></span>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in BTC
                  </div>     
                  <div>
                    BTC <%=DCN_BTC_LastPrice.toFixed(8)%>
                  </div>     
                </div>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    BTC value in Euro
                  </div>
                  <div>
                    EUR <span id="BTC_EUR"><%=BTC_EUR%></span>
                  </div>
                </div>
              </row>
              <row>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total dentacoin in BTC
                  </div>        
                  <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    BTC <%=(DCN_BTC_LastPrice*DCN).toFixed(3)%>
                  </div>  
                </div>
                <div class="col-md-8 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in euro
                  </div>
                   <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    EUR <%=(BTC_EUR*(DCN_BTC_LastPrice*DCN)).toFixed(2)%>
                  </div>
                </div>
              </row>
              <div class="col-xs-12"></div>
              <row>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Calculate Dentacoin value
                  </div>        
                  <div class="form-group" style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                    <input id="Calculate_DCN_BTC" class="form-control" type="Number" placeholder="Fill in Dentacoin value in BTC" />
                  </div>  
                </div>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Calculated Dentacoin in euro
                  </div>
                   <div style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                    EUR <span id="Calculated_DCN_BTC"></span>
                  </div>
                </div>
              </row>
            </row>

            <div style="border-bottom: 1px solid grey">&nbsp;</div>

              <!-- LTC -->

            <row class="col-md-12" style="font-size: 1.2em">
              <h3><a href="https://www.cryptopia.co.nz/Exchange/?market=DCN_LTC" target="_blank">LTC</a></h3>
              <row>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Dentacoins
                  </div>
                  <div>
                    DCN <%=DCN%>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in LTC
                  </div>     
                  <div>
                    LTC <%=DCN_LTC_LastPrice.toFixed(8)%>
                  </div>     
                </div>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    LTC value in Euro
                  </div>
                  <div>
                    EUR <span id="LTC_EUR"><%=LTC_EUR%></span>
                  </div>
                </div>
              </row>
              <row>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total dentacoin in LTC
                  </div>        
                  <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    LTC <%=(DCN_LTC_LastPrice*DCN).toFixed(3)%>
                  </div>  
                </div>
                <div class="col-md-8 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in euro
                  </div>
                   <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    EUR <%=(LTC_EUR*(DCN_LTC_LastPrice*DCN)).toFixed(2)%>
                  </div>
                </div>
              </row>
              <div class="col-xs-12"></div>
              <row>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Calculate Dentacoin value
                  </div>        
                  <div class="form-group" style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                    <input id="Calculate_DCN_LTC" class="form-control" type="Number" placeholder="Fill in Dentacoin value in LTC" />
                  </div>  
                </div>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Calculated Dentacoin in euro
                  </div>
                   <div style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                    EUR <span id="Calculated_DCN_LTC"></span>
                  </div>
                </div>
              </row>
            </row>

            <div style="border-bottom: 1px solid grey">&nbsp;</div>

            <!-- DOGE -->

            <row class="col-md-12" style="font-size: 1.2em">
              <h3><a href="https://www.cryptopia.co.nz/Exchange/?market=DCN_DOGE" target="_blank">DOGE</a></h3>
              <row>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total Dentacoins
                  </div>
                  <div>
                    DCN <%=DCN%>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in DOGE
                  </div>     
                  <div>
                    DOGE <%=DCN_DOGE_LastPrice.toFixed(8)%>
                  </div>     
                </div>
                <div class="col-md-4 col-xs-12">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    DOGE value in Euro
                  </div>
                  <div>
                    EUR <span id="DOGE_EUR"><%=DOGE_EUR%></span>
                  </div>
                </div>
              </row>
              <row>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Total dentacoin in DOGE
                  </div>        
                  <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    DOGE <%=(DCN_DOGE_LastPrice*DCN).toFixed(3)%>
                  </div>  
                </div>
                <div class="col-md-8 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Dentacoin value in euro
                  </div>
                   <div style="padding-bottom: 10px; color: green; font-size: 1.5em">
                    EUR <%=(DOGE_EUR*(DCN_DOGE_LastPrice*DCN)).toFixed(2)%>
                  </div>
                </div>
              </row>
              <div class="col-xs-12"></div>
              <row>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Calculate Dentacoin value
                  </div>        
                  <div class="form-group" style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                    <input id="Calculate_DCN_DOGE" class="form-control" type="Number" placeholder="Fill in Dentacoin value in DOGE" />
                  </div>  
                </div>
                <div class="col-md-4 col-xs-6">
                  <div style="padding-top: 10px; padding-bottom: 5px; font-weight: bold">
                    Calculated Dentacoin in euro
                  </div>
                   <div style="padding-bottom: 10px; color: blue; font-size: 1.5em">
                    EUR <span id="Calculated_DCN_DOGE"></span>
                  </div>
                </div>
              </row>
            </row> 
          </div>
        </div>
      </div>
    </row>
  </div>

   <div class="alert alert-info text-center" role="alert">
    <h2> Cedric Willems</h2>
  </div>
</div>

<script>
  
  $(document).ready(function() {
    $("#Calculate_DCN_BTC").on("input", function() {

      var Calculated_DCN_BTC = Number($("#BTC_EUR").html())*($("#Calculate_DCN_BTC").val() * Number($("#DCN").html()));
      $("#Calculated_DCN_BTC").html(Calculated_DCN_BTC.toFixed(2));
    });

    $("#Calculate_DCN_LTC").on("input", function() {

      var Calculated_DCN_LTC = Number($("#LTC_EUR").html())*($("#Calculate_DCN_LTC").val() * Number($("#DCN").html()));
      $("#Calculated_DCN_LTC").html(Calculated_DCN_LTC.toFixed(2));
    });

    $("#Calculate_DCN_DOGE").on("input", function() {

      var Calculated_DCN_DOGE = Number($("#DOGE_EUR").html())*($("#Calculate_DCN_DOGE").val() * Number($("#DCN").html()));
      $("#Calculated_DCN_DOGE").html(Calculated_DCN_DOGE.toFixed(2));
    });
  });

  

</script>
</body>
</html>
